* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #f1f2eb;
	margin: 0;
}

/* Nav */

nav {
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #89ac55;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.nav {
	display: flex;
	padding-top: 10px;
}

.fa-1x,
.fa-2x {
	margin-right: 5px;
}

/* Links */

a {
	text-decoration: none;
	color: #ecf2e6;
}

a:visited {
	color: #ecf2e6;
}

a.meditate-link:link {
	color: blue;
}

a.meditate-link:visited {
	color: blue;
}

a.homepage-link {
	font-size: 25px;
}

a.signup-link {
	padding-left: 20px;
}

a.dashboard-link {
	padding-right: 20px;
}

/* Landing Page */

header.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	line-height: 1.5;
}

h1,
h2 {
	text-align: center;
}

div.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.why,
section.what,
section.signup {
	margin-left: 20px;
	margin-right: 20px;
}

/* Sign Up */

div.signup-div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

section.signup-div {
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
	margin: 5px;
}

button[type='submit'] {
	margin-top: 10px;
}

/* Login */

section.login {
  text-align: center;
}

/* Dashboard */
ul.meditation-ul {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
}

div.med-summary {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2, h3 {
	margin: 10px;
}

button[type=submit].start-med-btn {
	margin-bottom: 20px;
	margin-top: 0;
}

/* Meditation Summary */

li.meditation-list-item {
	list-style-type: none;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
}

/* Start Meditation */
div.timer-wrapper {
	display: flex;
	justify-content: center;
}

h4 {
	text-align: center;
}

div.start {
	display: flex;
	flex-direction: column;
}

div.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Not Found */
p.not-found {
	text-align: center;
}

/* Validation Error */
div.error {
	color: red;
}

/* Footer */

p.p-footer {
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 0;
}

footer {
	background-color: #89ac55;
	color: #ecf2e6;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer#contact {
	margin-top: 20px;
}

div.icons {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

@media all and (min-width: 600px) {
	/* Nav */
	nav {
		flex-direction: row;
		justify-content: space-between;
	}

	div.nav {
		align-items: center;
		padding: 0;
	}

	a.homepage-link {
		margin-left: 20px;
	}

	a.signup-link {
		margin-right: 20px;
	}

	/* Landing Page */
	div.landing-page {
		max-width: 800px;
	}

	section.why,
	section.what,
	section.signup {
		display: flex;
		flex-direction: column;
	}

	/* Start Meditation */
	h4 {
		max-width: 600px;
	}

	/* Footer */
	footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	footer#contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}

	div.footer {
		display: flex;
		flex-direction: column;
	}
}
